<?xml version="1.0"?>
<robot name="themis-29dof">

  <link name="world">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="BASE_LINK">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/BASE_LINK.STL" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.081 0 -0.02" rpy="0 0 0" />
      <mass value="12.72" />
      <inertia ixx="0.2675" ixy="0" ixz="0" iyy="0.3169" iyz="0" izz="0.1631" />
    </inertial>
  </link>

  <link name="HIP_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/HIP_R.STL" />
      </geometry>
      <material name="HIP_R_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.00398 -0.00006 0.00636" rpy="0 0 0" />
      <mass value="0.83264" />
      <inertia ixx="0.0019" ixy="0" ixz="0" iyy="0.00124" iyz="0" izz="0.00094" />
    </inertial>
  </link>

  <link name="HIP_ABAD_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/HIP_ABAD_R_rot.STL" />
      </geometry>
      <material name="HIP_ABAD_R_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.00147 -0.002 0.00404" rpy="0 0 0" />
      <mass value="2.78794" />
      <inertia ixx="0.0072" ixy="0" ixz="0" iyy="0.01442" iyz="0" izz="0.00791" />
    </inertial>
  </link>

  <link name="FEMUR_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/FEMUR_R_rot.STL" />
      </geometry>
      <material name="FEMUR_R_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00174 -0.02002 -0.06111" rpy="0 0 0" />
      <mass value="3.75384" />
      <inertia ixx="0.07026" ixy="0" ixz="0" iyy="0.07594" iyz="0" izz="0.01172" />
    </inertial>
  </link>

  <link name="TIBIA_R">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/TIBIA_R_rot.STL" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.00694 -0.00006 -0.09678" rpy="0 0 0" />
      <mass value="1.27716" />
      <inertia ixx="0.02323" ixy="0" ixz="0" iyy="0.02318" iyz="0" izz="0.00091" />
    </inertial>
  </link>

  <link name="ANKLE_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/ANKLE_R.STL" />
      </geometry>
      <material name="ANKLE_R_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.006946" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>

  <link name="FOOT_R">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/FOOT_R_rot2.STL" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0337 0.00005 -0.04684" rpy="0 0 0" />
      <mass value="0.41628" />
      <inertia ixx="0.000722" ixy="0" ixz="0" iyy="0.002594" iyz="0" izz="0.002998" />
    </inertial>
  </link>

  <link name="FOOT_R_contact">
    <visual>
      <origin xyz="-0.06 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_R_contact_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.06 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="FOOT_R_contact_geom_1">
    <visual>
      <origin xyz="-0.06 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_R_contact_geom_1_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.06 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_R_contact_geom_2">
    <visual>
      <origin xyz="0.155 0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_R_contact_geom_2_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.155 0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_R_contact_geom_3">
    <visual>
      <origin xyz="0.155 -0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_R_contact_geom_3_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.155 -0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_R_contact_geom_4">
    <visual>
      <origin xyz="0.12 0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_R_contact_geom_4_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.12 0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_R_contact_geom_5">
    <visual>
      <origin xyz="0.12 -0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_R_contact_geom_5_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.12 -0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_R_contact_geom_6">
    <visual>
      <origin xyz="-0.07 0 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_R_contact_geom_6_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.07 0 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="HIP_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/HIP_L.STL" />
      </geometry>
      <material name="HIP_L_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.00398 0.00006 0.00636" rpy="0 0 0" />
      <mass value="0.83264" />
      <inertia ixx="0.0019" ixy="0" ixz="0" iyy="0.00124" iyz="0" izz="0.00094" />
    </inertial>
  </link>

  <link name="HIP_ABAD_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/HIP_ABAD_L_rot.STL" />
      </geometry>
      <material name="HIP_ABAD_L_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.00147 0.002 0.00404" rpy="0 0 0" />
      <mass value="2.78794" />
      <inertia ixx="0.0072" ixy="0" ixz="0" iyy="0.01442" iyz="0" izz="0.00791" />
    </inertial>
  </link>

  <link name="FEMUR_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/FEMUR_L_rot.STL" />
      </geometry>
      <material name="FEMUR_L_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00174 0.02002 -0.06111" rpy="0 0 0" />
      <mass value="3.75384" />
      <inertia ixx="0.07026" ixy="0" ixz="0" iyy="0.07594" iyz="0" izz="0.01172" />
    </inertial>
  </link>

  <link name="TIBIA_L">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/TIBIA_L_rot.STL" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.00694 0.00006 -0.09678" rpy="0 0 0" />
      <mass value="1.27716" />
      <inertia ixx="0.02323" ixy="0" ixz="0" iyy="0.02318" iyz="0" izz="0.00091" />
    </inertial>
  </link>

  <link name="ANKLE_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/ANKLE_L.STL" />
      </geometry>
      <material name="ANKLE_L_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.006946" />
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
    </inertial>
  </link>

  <link name="FOOT_L">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/FOOT_L_rot2.STL" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0337 -0.00005 -0.04684" rpy="0 0 0" />
      <mass value="0.41628" />
      <inertia ixx="0.000722" ixy="0" ixz="0" iyy="0.002594" iyz="0" izz="0.002998" />
    </inertial>
  </link>

  <link name="FOOT_L_contact">
    <visual>
      <origin xyz="-0.06 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_L_contact_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.06 0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="FOOT_L_contact_geom_1">
    <visual>
      <origin xyz="-0.06 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_L_contact_geom_1_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.06 -0.025 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_L_contact_geom_2">
    <visual>
      <origin xyz="0.155 0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_L_contact_geom_2_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.155 0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_L_contact_geom_3">
    <visual>
      <origin xyz="0.155 -0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_L_contact_geom_3_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.155 -0.028 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_L_contact_geom_4">
    <visual>
      <origin xyz="0.12 0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_L_contact_geom_4_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.12 0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_L_contact_geom_5">
    <visual>
      <origin xyz="0.12 -0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_L_contact_geom_5_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.12 -0.045 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="FOOT_L_contact_geom_6">
    <visual>
      <origin xyz="-0.07 0 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
      <material name="FOOT_L_contact_geom_6_mat">
        <color rgba="0.90196471 0.10196471 0.10196471 0.90196471"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.07 0 -0.05" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1" />
    </inertial>
  </link>

  <link name="UPPERSHOULDER_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/UPPERSHOULDER_R_rot.STL" />
      </geometry>
      <material name="UPPERSHOULDER_R_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.00158 0.00121 -0.00674" rpy="0 0 0" />
      <mass value="0.43611" />
      <inertia ixx="0.0003859" ixy="0" ixz="0" iyy="0.0003041" iyz="0" izz="0.0002347" />
    </inertial>
  </link>

  <link name="LOWERSHOULDER_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/LOWERSHOULDER_R_rot.STL" />
      </geometry>
      <material name="LOWERSHOULDER_R_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00006 0.00002 -0.0535" rpy="0 0 0" />
      <mass value="0.35798" />
      <inertia ixx="0.001315" ixy="0" ixz="0" iyy="0.001242" iyz="0" izz="0.000261" />
    </inertial>
  </link>

  <link name="UPPERARM_R">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/UPPERARM_R_rot.STL" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0104 -0.00152 -0.1973" rpy="0 0 0" />
      <mass value="0.51544" />
      <inertia ixx="0.0021672" ixy="0" ixz="0" iyy="0.0021509" iyz="0" izz="0.0003657" />
    </inertial>
  </link>

  <link name="ELBOW_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/ELBOW_R_rot.STL" />
      </geometry>
      <material name="ELBOW_R_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.05387 0 -0.01441" rpy="0 0 0" />
      <mass value="0.37853" />
      <inertia ixx="0.0003688" ixy="0" ixz="0" iyy="0.0014306" iyz="0" izz="0.0014318" />
    </inertial>
  </link>

  <link name="FOREARM_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/FOREARM_R_rot.STL" />
      </geometry>
      <material name="FOREARM_R_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00164 -0.01407 0" rpy="0 0 0" />
      <mass value="0.47694" />
      <inertia ixx="0.0002651" ixy="0" ixz="0" iyy="0.0006843" iyz="0" izz="0.0006008" />
    </inertial>
  </link>

  <link name="UPPERWRIST_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/UPPERWRIST_R_rot.STL" />
      </geometry>
      <material name="UPPERWRIST_R_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.05463 -0.00013 0.00009" rpy="0 0 0" />
      <mass value="0.37004" />
      <inertia ixx="0.0002772" ixy="0" ixz="0" iyy="0.0014127" iyz="0" izz="0.0013375" />
    </inertial>
  </link>

  <link name="LOWERWRIST_R">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/LOWERWRIST_R_ball.STL" />
      </geometry>
      <material name="LOWERWRIST_R_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.125 0.0000024 0.0001082" rpy="0 0 0" />
      <mass value="0.42" />
      <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004" />
    </inertial>
  </link>

  <link name="LOWERWRIST_R_contact">
    <visual>
      <origin xyz="0.15 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.04" />
      </geometry>
      <material name="LOWERWRIST_R_contact_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 0.80000392"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.15 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.04" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="UPPERSHOULDER_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/UPPERSHOULDER_L_rot.STL" />
      </geometry>
      <material name="UPPERSHOULDER_L_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.00158 -0.00121 -0.00674" rpy="0 0 0" />
      <mass value="0.43611" />
      <inertia ixx="0.0003859" ixy="0" ixz="0" iyy="0.0003041" iyz="0" izz="0.0002347" />
    </inertial>
  </link>

  <link name="LOWERSHOULDER_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/LOWERSHOULDER_L_rot.STL" />
      </geometry>
      <material name="LOWERSHOULDER_L_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00006 -0.00002 -0.0535" rpy="0 0 0" />
      <mass value="0.35798" />
      <inertia ixx="0.001315" ixy="0" ixz="0" iyy="0.001242" iyz="0" izz="0.000261" />
    </inertial>
  </link>

  <link name="UPPERARM_L">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/UPPERARM_L_rot.STL" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0104 0.00152 -0.1973" rpy="0 0 0" />
      <mass value="0.51544" />
      <inertia ixx="0.0021672" ixy="0" ixz="0" iyy="0.0021509" iyz="0" izz="0.0003657" />
    </inertial>
  </link>

  <link name="ELBOW_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/ELBOW_L_rot.STL" />
      </geometry>
      <material name="ELBOW_L_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.05387 0 -0.01441" rpy="0 0 0" />
      <mass value="0.37853" />
      <inertia ixx="0.0003688" ixy="0" ixz="0" iyy="0.0014306" iyz="0" izz="0.0014318" />
    </inertial>
  </link>

  <link name="FOREARM_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/FOREARM_L_rot.STL" />
      </geometry>
      <material name="FOREARM_L_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="-0.00164 0.01407 0" rpy="0 0 0" />
      <mass value="0.47694" />
      <inertia ixx="0.0002651" ixy="0" ixz="0" iyy="0.0006843" iyz="0" izz="0.0006008" />
    </inertial>
  </link>

  <link name="UPPERWRIST_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/UPPERWRIST_L_rot.STL" />
      </geometry>
      <material name="UPPERWRIST_L_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.05463 0.00013 0.00009" rpy="0 0 0" />
      <mass value="0.37004" />
      <inertia ixx="0.0002772" ixy="0" ixz="0" iyy="0.0014127" iyz="0" izz="0.0013375" />
    </inertial>
  </link>

  <link name="LOWERWRIST_L">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/LOWERWRIST_L_ball.STL" />
      </geometry>
      <material name="LOWERWRIST_L_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.125 -0.0000024 0.0001082" rpy="0 0 0" />
      <mass value="0.42" />
      <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004" />
    </inertial>
  </link>

  <link name="LOWERWRIST_L_contact">
    <visual>
      <origin xyz="0.15 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.04" />
      </geometry>
      <material name="LOWERWRIST_L_contact_mat">
        <color rgba="0.32157255 0.32157255 0.32157255 0.80000392"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.15 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.04" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>

  <link name="NECK">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/NECK.STL" />
      </geometry>
      <material name="NECK_mat">
        <color rgba="0.21961176 0.21961176 0.21961176 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0 0.00017 -0.00489" rpy="0 0 0" />
      <mass value="0.34044" />
      <inertia ixx="0.000199" ixy="0.0000156" ixz="-0.0000291" iyy="0.000274" iyz="-0.0000025" izz="0.000167" />
    </inertial>
  </link>

  <link name="HEAD">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/HEAD_rot.STL" />
      </geometry>
      <material name="HEAD_mat">
        <color rgba="0.92157255 0.92157255 0.92157255 1.00000000"/>
      </material>
    </visual>
    <inertial>
      <origin xyz="0.00094 -0.00001 0.0631" rpy="0 0 0" />
      <mass value="0.67367" />
      <inertia ixx="0.00281" ixy="0" ixz="0" iyy="0.00225" iyz="0" izz="0.00316" />
    </inertial>
  </link>

  <joint name="root_joint" type="fixed">
    <parent link="world" />
    <child link="BASE_LINK" />
    <origin xyz="0 0 1.17" rpy="0 0 0" />
  </joint>

  <joint name="HIP_YAW_R" type="revolute">
    <parent link="BASE_LINK" />
    <child link="HIP_R" />
    <origin xyz="-0.1833779 -0.0625 -0.2883779" rpy="0 0.7853982 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="HIP_ROLL_R" type="revolute">
    <parent link="HIP_R" />
    <child link="HIP_ABAD_R" />
    <origin xyz="0.141 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-1.56" upper="1.56" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="HIP_PITCH_R" type="revolute">
    <parent link="HIP_ABAD_R" />
    <child link="FEMUR_R" />
    <origin xyz="0 -0.029 0" rpy="0 -0.7853982 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.56" upper="1.56" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="KNEE_PITCH_R" type="revolute">
    <parent link="FEMUR_R" />
    <child link="TIBIA_R" />
    <origin xyz="0 0 -0.375" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ANKLE_PITCH_R" type="revolute">
    <parent link="TIBIA_R" />
    <child link="ANKLE_R" />
    <origin xyz="0 0 -0.375" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.8" upper="0.8" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ANKLE_ROLL_R" type="revolute">
    <parent link="ANKLE_R" />
    <child link="FOOT_R" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <link name="FOOT_R_heel_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>
  <joint name="FOOT_R_heel_joint" type="fixed">
    <parent link="FOOT_R" />
    <child link="FOOT_R_heel_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="FOOT_R_toe_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>
  <joint name="FOOT_R_toe_joint" type="fixed">
    <parent link="FOOT_R" />
    <child link="FOOT_R_toe_link" />
    <origin xyz="0.13 0 -0.05" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_R_to_FOOT_R_contact" type="fixed">
    <parent link="FOOT_R" />
    <child link="FOOT_R_contact" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_R_contact_to_FOOT_R_contact_geom_1" type="fixed">
    <parent link="FOOT_R_contact" />
    <child link="FOOT_R_contact_geom_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_R_contact_to_FOOT_R_contact_geom_2" type="fixed">
    <parent link="FOOT_R_contact" />
    <child link="FOOT_R_contact_geom_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_R_contact_to_FOOT_R_contact_geom_3" type="fixed">
    <parent link="FOOT_R_contact" />
    <child link="FOOT_R_contact_geom_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_R_contact_to_FOOT_R_contact_geom_4" type="fixed">
    <parent link="FOOT_R_contact" />
    <child link="FOOT_R_contact_geom_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_R_contact_to_FOOT_R_contact_geom_5" type="fixed">
    <parent link="FOOT_R_contact" />
    <child link="FOOT_R_contact_geom_5" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_R_contact_to_FOOT_R_contact_geom_6" type="fixed">
    <parent link="FOOT_R_contact" />
    <child link="FOOT_R_contact_geom_6" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="HIP_YAW_L" type="revolute">
    <parent link="BASE_LINK" />
    <child link="HIP_L" />
    <origin xyz="-0.1833779 0.0625 -0.2883779" rpy="0 0.7853982 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="HIP_ROLL_L" type="revolute">
    <parent link="HIP_L" />
    <child link="HIP_ABAD_L" />
    <origin xyz="0.141 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-1.56" upper="1.56" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="HIP_PITCH_L" type="revolute">
    <parent link="HIP_ABAD_L" />
    <child link="FEMUR_L" />
    <origin xyz="0 0.029 0" rpy="0 -0.7853982 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.56" upper="1.56" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="KNEE_PITCH_L" type="revolute">
    <parent link="FEMUR_L" />
    <child link="TIBIA_L" />
    <origin xyz="0 0 -0.375" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ANKLE_PITCH_L" type="revolute">
    <parent link="TIBIA_L" />
    <child link="ANKLE_L" />
    <origin xyz="0 0 -0.375" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.8" upper="0.8" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ANKLE_ROLL_L" type="revolute">
    <parent link="ANKLE_L" />
    <child link="FOOT_L" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <link name="FOOT_L_heel_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>
  <joint name="FOOT_L_heel_joint" type="fixed">
    <parent link="FOOT_L" />
    <child link="FOOT_L_heel_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="FOOT_L_toe_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>
  <joint name="FOOT_L_toe_joint" type="fixed">
    <parent link="FOOT_L" />
    <child link="FOOT_L_toe_link" />
    <origin xyz="0.13 0 -0.05" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_L_to_FOOT_L_contact" type="fixed">
    <parent link="FOOT_L" />
    <child link="FOOT_L_contact" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_L_contact_to_FOOT_L_contact_geom_1" type="fixed">
    <parent link="FOOT_L_contact" />
    <child link="FOOT_L_contact_geom_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_L_contact_to_FOOT_L_contact_geom_2" type="fixed">
    <parent link="FOOT_L_contact" />
    <child link="FOOT_L_contact_geom_2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_L_contact_to_FOOT_L_contact_geom_3" type="fixed">
    <parent link="FOOT_L_contact" />
    <child link="FOOT_L_contact_geom_3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_L_contact_to_FOOT_L_contact_geom_4" type="fixed">
    <parent link="FOOT_L_contact" />
    <child link="FOOT_L_contact_geom_4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_L_contact_to_FOOT_L_contact_geom_5" type="fixed">
    <parent link="FOOT_L_contact" />
    <child link="FOOT_L_contact_geom_5" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="FOOT_L_contact_to_FOOT_L_contact_geom_6" type="fixed">
    <parent link="FOOT_L_contact" />
    <child link="FOOT_L_contact_geom_6" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="SHOULDER_PITCH_R" type="revolute">
    <parent link="BASE_LINK" />
    <child link="UPPERSHOULDER_R" />
    <origin xyz="-0.0650846 -0.1567 0.1134749" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="SHOULDER_ROLL_R" type="revolute">
    <parent link="UPPERSHOULDER_R" />
    <child link="LOWERSHOULDER_R" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="SHOULDER_YAW_R" type="revolute">
    <parent link="LOWERSHOULDER_R" />
    <child link="UPPERARM_R" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ELBOW_PITCH_R" type="revolute">
    <parent link="UPPERARM_R" />
    <child link="ELBOW_R" />
    <origin xyz="0.015 0 -0.22495" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ELBOW_YAW_R" type="revolute">
    <parent link="ELBOW_R" />
    <child link="FOREARM_R" />
    <origin xyz="0.15495 0 -0.015" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="WRIST_PITCH_R" type="revolute">
    <parent link="FOREARM_R" />
    <child link="UPPERWRIST_R" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="WRIST_YAW_R" type="revolute">
    <parent link="UPPERWRIST_R" />
    <child link="LOWERWRIST_R" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="LOWERWRIST_R_to_LOWERWRIST_R_contact" type="fixed">
    <parent link="LOWERWRIST_R" />
    <child link="LOWERWRIST_R_contact" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="SHOULDER_PITCH_L" type="revolute">
    <parent link="BASE_LINK" />
    <child link="UPPERSHOULDER_L" />
    <origin xyz="-0.0650846 0.1567 0.1134749" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="SHOULDER_ROLL_L" type="revolute">
    <parent link="UPPERSHOULDER_L" />
    <child link="LOWERSHOULDER_L" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="SHOULDER_YAW_L" type="revolute">
    <parent link="LOWERSHOULDER_L" />
    <child link="UPPERARM_L" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ELBOW_PITCH_L" type="revolute">
    <parent link="UPPERARM_L" />
    <child link="ELBOW_L" />
    <origin xyz="0.015 0 -0.22495" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="ELBOW_YAW_L" type="revolute">
    <parent link="ELBOW_L" />
    <child link="FOREARM_L" />
    <origin xyz="0.15495 0 -0.015" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="WRIST_PITCH_L" type="revolute">
    <parent link="FOREARM_L" />
    <child link="UPPERWRIST_L" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="WRIST_YAW_L" type="revolute">
    <parent link="UPPERWRIST_L" />
    <child link="LOWERWRIST_L" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="LOWERWRIST_L_to_LOWERWRIST_L_contact" type="fixed">
    <parent link="LOWERWRIST_L" />
    <child link="LOWERWRIST_L_contact" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="HEAD_YAW" type="revolute">
    <parent link="BASE_LINK" />
    <child link="NECK" />
    <origin xyz="-0.0693737 0 0.2308357" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

  <joint name="HEAD_PITCH" type="revolute">
    <parent link="NECK" />
    <child link="HEAD" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
    <dynamics damping="0.05" friction="0.2" />
  </joint>

</robot>